.event_details_index
  - if @game.present?
    %h1= @game.title
  - if @user.present?
    - content_for :title do
      マイページ | GameTrigger
    %h1= @user.name
    .breadcrumbs
      = link_to 'HOME', root_path
      %p >マイページ
  = render 'event_details/events', first_column: 'game'
