// Place all the styles related to the EventDetails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.event_details_index {
  .events {
    .title {
      padding: 15px;
      border-bottom: 2px solid var(--gray);
      background-color: var(--black);
      p {
        font-size: 18px;
        font-weight: bold;
        margin: 0px;
        color: var(--white);
      }
    }
    .body {
      padding: 0;
      .event {
        list-style: none;
        padding: 15px;
        li {
          padding: 0;
        }
        p {
          font-size: 18px;
          margin: 0px;
          color: var(--gray);
        }
        p.owner {
          font-weight: bold;
          color: var(--black);
        }
        @media screen and (max-width: 728px) {
          p {
            margin: 0 0 15px 0;
          }
        }
      }
      .event:nth-child(odd) {
        background-color: var(--white);
      }
      .event:nth-child(even) {
        background-color: var(--hai);
      }
    }
  }
}

.event_details_show {
  .image {
    img {
      max-width: 100%;
    }
  }
  p {
    font-size: 18px;
  }
  h3 {
    a {
      color: var(--mizu);
    }
  }
  p.owner,
  p.date {
    margin: 10px 0;
    background-color: var(--white);
    b {
      color: var(--red);
    }
  }
  .tags {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;
    .tag {
      font-size: 14px;
      white-space: nowrap;
      color: var(--white);
      padding: 2px 7px;
      margin: 5px 15px 5px 0;
      background-color: var(--gray);
      border-radius: 15px;
      border: 1px solid var(--white);
    }
  }
  .text {
    p {
      font-size: 16px;
    }
  }
}