// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
:root {
  --color_1: #e5ccb6;
}
.home {
  header {
    box-sizing: border-box;
    width: 100%;
    .events {
      .title {
        padding: 5px;
        border-bottom: 2px solid gray;
        background-color: black;
        p {
          font-size: 14px;
          font-weight: bold;
          margin: 0px;
          color: white;
        }
      }
      .body {
        padding: 0;
        .event {
          list-style: none;
          padding: 5px;
          li {
            padding: 0;
          }
          p {
            font-size: 14px;
            margin: 0px;
            color: gray;
          }
          p.game {
            font-weight: bold;
            color: black;
          }
          @media screen and (max-width: 728px) {
            p {
              margin: 0 0 5px 0;
            }
          }
        }
        .event:nth-child(odd) {
          background-color: #e9ecef;
        }
      }
    }
    .more {
      margin-bottom: 15px;
    }
  }
  .games {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    .search {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .event_wrapper {
      padding: 5px;
      height: 185px;
      .event_body {
        background-color: #e5ccb6;
        height: 100%;
        .title {
          text-align: center;
          font-size: 26px;
          font-weight: bold;
          color: black;
          padding: 5px;
        }
      }
    }
  }
}
