// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home {
  header {
    box-sizing: border-box;
    width: 100%;
    .events {
      .title {
        padding: 5px;
        border-bottom: 2px solid var(--gray);
        background-color: var(--black);
        p {
          font-size: 14px;
          font-weight: bold;
          margin: 0px;
          color: var(--white);
        }
      }
      .body {
        padding: 0;
        margin: 0;
        border-bottom:2px solid var(--gray);
        .event {
          list-style: none;
          padding: 5px;
          li {
            padding: 0;
          }
          p {
            font-size: 14px;
            margin: 0px;
            color: var(--gray);
          }
          p.game {
            font-weight: bold;
            color: var(--black);
          }
          @media screen and (max-width: 728px) {
            p {
              margin: 0 0 5px 0;
            }
          }
        }
        .event:nth-child(odd) {
          background-color: var(--white);
        }
        .event:nth-child(even) {
          background-color: var(--hai);
        }
        li:last-child {
          text-align: right;
          a {
            color: var(--mizu);
          }
        }
      }
    }
    .information_provisions {
      width: 100%;
      margin: 15px auto;
      text-align: center;
      a {
        display: inline-block;
        width: 200px;
        background-color: var(--white);
        border: 3px solid var(--mizu);
        padding: 15px;
        border-radius: 30px;
        color: var(--mizu);
      }
      a:hover {
        border: 3px solid var(--blue);
      }
    }
  }
  .games {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    .search {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .event_wrapper {
      padding: 5px;
      height: auto;
      .event_body {
        overflow: hidden;
        box-sizing: border-box;
        height: 100%;
        border: 1.5px solid var(--gray);
        .title {
          min-height: 72px;
          text-align: center;
          font-size: 26px;
          font-weight: bold;
          color: var(--black);
          padding: 5px;
          margin: 0;
        }
        .image {
          background-size: cover;
          img {
            width: 100%;
            height: auto;
            /*max-height: 180px;*/
          }
        }
      }
    }
  }
}
